.navLink {
  text-decoration: none;
}

.navLink:visited {
  color: black;
}

.modalContent {
    background-color: white;
    width: 400px;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

  .modalBody {
    padding: 10px;
    margin: 20px;
  }

  .modalButton {
    display: inline;
  }

  .homeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .expyView {
    grid-column-start: first;
    grid-column-end: 2;
    grid-row-start: first;
    grid-row-end: 2;
  }
